SROP.Business/Web References/wsMTD/ws_MTD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/ws_SROP" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/ws_SROP" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/ws_SROP">
      <s:element name="ds_ListarDocumentosExp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cod_expediente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ds_ListarDocumentosExpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds_ListarDocumentosExpResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ds_ListarDocumentosExpSoapIn">
    <wsdl:part name="parameters" element="tns:ds_ListarDocumentosExp" />
  </wsdl:message>
  <wsdl:message name="ds_ListarDocumentosExpSoapOut">
    <wsdl:part name="parameters" element="tns:ds_ListarDocumentosExpResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_MTDSoap">
    <wsdl:operation name="ds_ListarDocumentosExp">
      <wsdl:input message="tns:ds_ListarDocumentosExpSoapIn" />
      <wsdl:output message="tns:ds_ListarDocumentosExpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_MTDSoap" type="tns:ws_MTDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ds_ListarDocumentosExp">
      <soap:operation soapAction="http://tempuri.org/ws_SROP/ds_ListarDocumentosExp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_MTDSoap12" type="tns:ws_MTDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ds_ListarDocumentosExp">
      <soap12:operation soapAction="http://tempuri.org/ws_SROP/ds_ListarDocumentosExp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_MTD">
    <wsdl:port name="ws_MTDSoap" binding="tns:ws_MTDSoap">
      <soap:address location="http://aplicaciones007.jne.gob.pe/ws_rop/ws_MTD.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_MTDSoap12" binding="tns:ws_MTDSoap12">
      <soap12:address location="http://aplicaciones007.jne.gob.pe/ws_rop/ws_MTD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>