SROP.Reports/XMLAsiento.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema id="XMLAsiento" targetNamespace="http://tempuri.org/XMLAsiento.xsd" elementFormDefault="qualified"
	xmlns="http://tempuri.org/XMLAsiento.xsd" xmlns:mstns="http://tempuri.org/XMLAsiento.xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Asiento">
		<xs:complexType>
			<xs:sequence>
			    <xs:element name="num_asiento" type="xs:integer" />
				<xs:element name="Titulo" type="xs:string" />
				<xs:element name="Fec_Asiento" type="xs:string"></xs:element>
				<xs:element name="Texto" type="xs:string"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>